body {
  background-color: #222222;
  padding: 0;
}
.menu{
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: "transparent";
  font-family: 'Source Code Pro';

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    float: left;
    display: block;
    padding: 8px;
    color:white;
  }
.introText{
  position: absolute;
  top: 25%;
  left: 10%;
  width: 33%;
  font-family: 'Fredericka the Great';
  color: white;
  font-size: 40px;

}
.neon {
position: absolute;
top: 80%;
left: 40%;
  flex: 0 0 100%;
  padding: 2vw 0;
  margin: 0;
  color: transparent;
  text-align: center;
  -webkit-user-select: none;
  text-shadow: 0 0 .1vw #F7CEEA, .5vw .5vw .5vw #E0018D, -.5vw -.5vw .5vw #E0018D, .5vw -.5vw .5vw #E0018D, -.5vw .5vw .5vw #E0018D, 0 -.5vw .5vw #E0018D, 0 .5vw .5vw #E0018D, .5vw .5vw .5vw #E0018D, 0 0 5vw #000;
}
span {
  -webkit-animation: Flicker .23s infinite;
}
h2 {
	font-size: 70px;
	font-family: "League Script";
}

@-webkit-keyframes Flicker {
  60%, 80% {
    text-shadow: 0 0 0.1vw #DCD5DA, 0.5vw 0.5vw 0.5vw rgba(224, 1, 141, 0.2), -0.5vw -0.5vw 0.5vw rgba(224, 1, 141, 0.2), 0.5vw -0.5vw 0.5vw rgba(224, 1, 141, 0.2), -0.5vw 0.5vw 0.5vw rgba(224, 1, 141, 0.2), 0 -0.5vw 0.5vw rgba(224, 1, 141, 0.2), 0 0.5vw 0.5vw rgba(224, 1, 141, 0.2), 0.5vw 0 0.5vw rgba(224, 1, 141, 0.2), 0 0 #FFF;
  }
  70%, 100% {
    text-shadow: 0 0 0.1vw #FFEFFA, 0.8vw 0.8vw 0.8vw rgba(224, 1, 141, 0.4), -0.8vw -0.8vw 0.8vw rgba(224, 1, 141, 0.4), 0.8vw -0.8vw 0.8vw rgba(224, 1, 141, 0.4), -0.8vw 0.8vw 0.5vw rgba(224, 1, 141, 0.4), 0 -0.8vw 0.5vw rgba(224, 1, 141, 0.4), 0 0.8vw 0.8vw rgba(224, 1, 141, 0.4);
  }
}

/*.exploreButton {
  position: absolute;
  top: 80%;
  left: 40%;
  display: inline-block;
  width: 200px;
  padding: 8px;
  color: white;
  border: 3px solid white;
  text-align: center;
  outline: none;
  text-decoration: none;
}*/
.viz{
	position: absolute;
	top: 25%;
	left:50%;
	font-family:'Source Code Pro';
	color: white;
}
